{% extends "app_mundial/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}


<!--Creadores del Proyecto-->
<div>
    <h2>Creadores del proyecto</h2>

  </div>
<div class="container-fluid">
  <table class="table table-bordered table table-hover>
    <thead class="thead-dark">
      <tr>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Creador1.jpg' %}" /></th>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Creador2.jpg' %}" /></th>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Creador3.jpg' %}" /></th>
   
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vel eligendi qui libero fuga natus corporis dolorem iste doloremque nulla placeat vero ratione temporibus accusantium, alias veritatis, magnam ipsum. Odio ut quibusdam accusantium non quo ratione dolorem, explicabo praesentium impedit est, doloremque magni molestias aperiam ad fugit, voluptas adipisci vero.</th>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nostrum deserunt pariatur officiis, illo architecto exercitationem! Esse mollitia vero, quis assumenda blanditiis placeat soluta eveniet laudantium officiis alias necessitatibus obcaecati non. Eaque ipsam iure voluptatum neque soluta quidem aspernatur mollitia alias! Rerum autem odio minima exercitationem est ad itaque. Recusandae?</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi sapiente, ad nostrum eum non in. Quibusdam perspiciatis hic praesentium, fugit laudantium maiores nisi. Delectus quam eveniet labore corporis inventore, possimus eos. Exercitationem maiores corrupti laudantium facere neque! Sequi aperiam enim et voluptatibus aspernatur repellendus. Doloribus delectus perferendis corrupti beatae?</td>

      </tr>
      <tr>
    </tbody>
  </table>
</div>

{% endblock contenido_base %}