{% extends "app_mundial/plantilla_base.html" %}
{% load static %}
{% block contenido_base %}


<!--Creadores del Proyecto-->
<div>
    <h2>Creadores del proyecto</h2>

  </div>
<div class="container-fluid">
  <table class="table table-bordered table table-hover>
    <thead class="thead-dark">
      <tr>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Tomas.jpg' %}" /></th>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Christian.jpg' %}" /></th>
        <th scope="col"><img style="width: 140px; height: 140px; border-radius: 100px; " src="{% static 'app_mundial/assets/img/Cristian.jpg' %}" /></th>
   
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Soy Tomas Servin, hincha de el Club Atlético River Plate. Desde chico muy fanático del futbol tanto detrás de la pantalla como participando en una cancha. Al estar a unos meses del mundial queremos que nos demuestran hasta donde llega esa afición al futbol y su conocimiento. Sientanse libre de agregar tanto jugadores, como estadios y sus selecciones favoritas que verán en Qatar 2022. 
          ¡Muchas gracias por participar y que lo disfruten!</td>
        <td>Soy Christian, hincha del Sporting Cristal aunque en la foto porte la de Sao Paulo. Lamentablemente, mi selección no pudo llegar a estas instancias del mundial pero igual apoyaré e hincharé por los hermanos sudamericanos. Los invitamos a participar de este espacio del hincha y a brindarnos sus augurios en este mundial Qatar 2022 ¡Un abrazo de gol!</td>
        <td>Mi nombre es Cristian Camejo, soy Uruguayo e hincha del club Atlético Peñarol, tengo muchas ganas para que inicie el mundial, y poder ver los partidos de mi selección y también alentar a todas las selecciones sudamericanas, espero que se unan a nuestra página, y agreguen lo que más les guste!</td>

      </tr>
      <tr>
    </tbody>
  </table>
</div>

{% endblock contenido_base %}