{% extends "app_mundial/plantilla_base.html" %}

{% block style_block %}
<style>
    table.coder-table {
      border:3px solid;
    }
    th,
    td {
      border:1px solid;
      padding:5px 10px;
    }
  </style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Selecciones</h1>
<a href="{% url "selecciones_formulario" %}"><button type="button" class="btn btn-primary">Crear Selecciones</button></a>
<br><br>
<a href="{% url "busqueda_selecciones_form" %}"><button type="button" class="btn btn-primary">Buscar Selecciones</button></a>

<br><br>
<h3>Todas las selecciones:</h3>

<table border="3">
  <tbody>
    <tr>
        <td>
            <b>Nombre</b>
        </td>
        <td>
            <b>Confederacion</b>
        </td>
         <td>
            <b>Palmares</b>
        </td>

        <th>Editar</th>
        <th>Eliminar</th>
    </tr>

    {% for seleccion in selecciones %}
    <tr>
        <td>{{seleccion.nombre}}</td>
        <td>{{seleccion.confederacion}}</td>
        <td>{{seleccion.palmares}}</td>
        <td><a href="{% url "editar_selecciones" seleccion.id %}">Editar</a></td>
        <td><a href="{% url "eliminar_selecciones" seleccion.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody> 
</table>

{% endblock contenido_base %}